/* folha de estilização */
* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #f0f0f0;

  padding: 24px 59px 63px;
}

.main {
  background-color: #ffffff;
  border-radius: 5px;

  padding: 20px 26px 12px 27px;
}

.title {
  color: #ff6a28;
  font-size: 28px;
  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
}

.description {
  font-size: 16px;
  font-family: sans-serif;
  display: block;

  margin-bottom: 14px;
}

.image-principal {
  width: 100%;
  height: auto;
}

.informatives {
  display: flex;
  gap: 9px;
}

.box-informative {
  width: 118px;
  height: 85px;

  background-color: #f0f0f0;
  border-radius: 5px;
}
/* 
tag <div>
classe texto corrido 
*/
